<ul>
  <li>Número de quizes: <%= totalQuizes %></li>
  <li>Número de comentarios: <%= totalComments %></li>
  <li>Média de comentarios por pregunta: <%= mediaComXPreg.toFixed(2) %></li>
  <li>Qquizes sin comentarios: <%= quizSinCom %></li>
  <li>Qquizes con comentarios: <%= quizConCom %></li>
</ul>
